/* Header styling ===> */
#header-sec {
  width: 100%;
  height: 6.5%;
  padding: 0;
  background-color: #233;
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 1;
}

#header-nav {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 9fr;
  background-color: inherit;
}
#header-logo {
  width: 100%;
  height: auto;
  z-index: 1;
  /* background-color: #ccc; */
}
#header-nav-links {
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

html,
body {
  width: 100vw;
  position: absolute;
}
#main-container {
  width: 100%;
}

main,
#about-sec,
#header-nav,
#contact-sec,
#footer-sec {
  padding: 0px 12% !important;
}

/* Table view Below */
@media (max-width: 1024px) {
  #about-column-right {
    padding: 10px;
  }
  #about-column-right > p {
    font-size: 20px;
  }
  main,
  #about-sec,
  #header-nav,
  #contact-sec,
  #footer-sec {
    padding: 0px 8% !important;
  }
  .link-divs > a {
    font-size: 14px !important;
  }
  #header-nav {
    grid-template-columns: 2fr 8fr !important;
  }
  .link-divs {
    padding: 0 !important;
  }
  /* #about-sec {
    margin-top: 15% !important;
  } */
  #about-column-right > p {
    font-size: 18px;
  }
  #project-img-div {
    height: 200px;
  }
}
/* PC View */
@media (min-width: 1024px) {
  #about-column-right {
    padding: 10px;
  }
  #about-column-right > p {
    font-size: 25px;
  }
  /* #header-sec {
    height: 55px;
  } */
  #link-divs > a {
    font-size: 20px !important;
  }
}

/* display: fixed;   */

/* Header styling ===> */

#header-nav {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 9fr;
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: inherit;
}
#header-logo {
  width: 100%;
  height: auto;
  /* z-index: 1; */
  /* background-color: #ccc; */
}
#header-nav-links {
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.link-divs {
  display: flex;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 26px;
  margin-left: 24px;
  position: relative;
  padding: 1%;
  cursor: pointer;
}
#links {
  color: #4f8;
  border: solid 2px #4f8;
  border-radius: 5px;
  padding: 5px;
}
#links:hover {
  color: #ffd300;
  border: solid 2px #ffd300;
  border-radius: 5px;
}
/* About section */
#about-sec {
  margin-top: 12%;
}

#about-container {
  width: 100%;
  /* background-image: url("https://i.imgur.com/guE4MKF.png"); */
  /* opacity: 0.9; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
  height: 50vh;
  margin-bottom: 20px;
  /* background-color: #eee; */
}

/* <=== Header styling */

.headings {
  font-family: "PT Sans Caption", sans-serif;
  text-align: center;
  width: 100%;
  border: solid 2px #4f8;
  margin-top: 35px;
  padding: 15px;
  border-radius: 5px;
  /* margin-bottom: 15px; */
  color: #fff;
  background-color: #233;
}

/* About Section */

#about-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 15px;
  margin-bottom: -75px;
}

#about-column-left {
  /* border: solid 3px #32CD32; */
  font-family: "PT Sans Caption", sans-serif;
  border-radius: 2px;
}
div.ui.card {
  width: auto;
}
h2.header,
h3.header {
  margin: 0;
}

#about-column-right {
  /* border: solid 2px #FFD300; */
  font-family: "PT Sans Caption", sans-serif;
  /* border-radius: 2px; */
  font-size: 30px;
  /* padding: 6%; */
  font-weight: bold;
  /* background-image: url(./imgs/about_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#avatar-social-media {
  display: inline-flex;
}
.icon-div {
  width: 30px;
  height: 30px;
  background-color: #233;
  color: #fff;
  margin-right: 5px;
  border-radius: 50%;
}
.links {
  font-size: 22px;
  color: #fff;
  padding: 4px;
}

/* Experience Section */

#experience-sec {
  display: inline-block;
  width: 100%;
}
.education-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 9fr 1fr;
  grid-gap: "15px";
}
/* .work-exp-bg {
  width: 100%;
  background-color: #606060;
  border: solid #606060 1px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
.timelines {
  padding: 20px;
  margin-top: -30px !important;
}
/* .edu-details-bg {
  width: 100%;
  background-color: #606060;
  border: solid #606060 1px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

#edu-container #exp-container {
  margin: 0 auto;
  display: grid;
  width: 85%;
  padding: 0;
  grid-template-columns: 1fr;
  border-bottom: white !important;
}
.edu-title .exp-title {
  padding: 5px;
  margin: 0;
  border-right: 1px solid #000;
}
.edu-details .exp-title {
  padding: 5px;
  margin: 0;
}

.headerThree {
  text-align: center;
  padding-top: 10px;
}

.group-listing {
  /* width: 100%; */
  margin-left: 0px;
  display: inline-flex;
  flex-wrap: wrap;
}
.skills-outer {
  width: 100%;
  height: 200px;
  background-color: #233;
  position: relative;
  cursor: pointer;
}

.skills-inner {
  width: 120px;
  height: 120px;
  position: relative;
  top: 20%;
  left: 30%;
  /* background-color: royalblue; */
}

/* Project section */

#projects-sec {
  margin-top: 25px;
}
#project-cards {
  margin-top: 10px;
  width: 96%;
}

#project-img-div {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
#project-img {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
#project-img:hover {
  width: 110%;
  height: 110%;
  transition: 2s;
  opacity: 0.7;
  /* z-index: 10; */
}

#project-extra {
  width: 100%;
  /* height: 50px; */
  font-size: 18px;
  padding: 7px;
  position: relative;
}
.projects-tabs {
  width: 50%;
}
footer {
  padding-top: 20px;
  width: 100%;
  height: 300px;
  background-color: #233;
  margin-top: 50px;
}
#contact-container {
  width: 100%;
  background-color: #606060;
  padding: 24px 0;
}

.list-icon {
  padding: 0 15px 0 25px !important;
  color: #000 !important;
}
.icon {
  padding: 0 30px;
  color: #fff;
}

.facebook:hover {
  height: 10px;
  width: 10px;
}
.twitter:hover {
  height: 10px;
  width: 10px;
}
.reddit:hover {
  height: 10px;
  width: 10px;
}

.link-colors:hover {
  color: #4f8;
}
#footer-div {
  color: white;
  padding: 25px 0 0 0;
}
/* More mobile a approach */
@media (max-width: 480px) {
  #header-nav {
    display: inline-block;
  }
  #header-logo {
    margin-top: 8px;
    height: 40px;
    width: 30%;
  }
  #header-nav-links {
    display: none;
  }
  /* Everything below resized */
  #about-container {
    display: inline-block;
  }
  .ui.card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    margin: 8px;
  }
  #about-column-right > p {
    font-size: 12px;
    font-weight: bold;
  }
  h3 {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  #menu-bars {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 3%;
    /* background-color: purple; */
  }
  #menu-div {
    width: 100%;
    padding: 15px 0 0 0;
    background-color: #233;
    color: white;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #606060; */
    font-size: 12px;
    text-align: center;
    position: absolute;
    margin-top: -10px;
  }
  #menu-div > #link-divs {
    padding: 6px 0;
    margin-top: -10px;
    margin-left: 0;
  }
  #links {
    border: none !important;
  }
  main,
  #about-sec,
  #header-nav,
  #contact-sec,
  #footer-sec {
    padding: 0 2% !important;
    margin: 0;
  }
  #about-sec {
    margin-top: 20%;
  }
  /* .timelines {
    padding: 5px;
  } */
  .ui.celled.grid > .row > .column {
    padding: 0;
    padding-left: 4px;
  }
  #project-cards {
    margin: 0;
    display: inline-block;
  }
  #project-extra > p {
    font-size: 14px;
  }
  .projects-tabs {
    width: 100%;
    padding: 5%;
  }
  #project-img-div {
    height: 200px;
  }
  #contact-container {
    padding: 8px;
  }
  .contact {
    width: -webkit-fill-available !important;
  }
  .contact > div {
    margin: 4px !important;
  }
  .contact > h2 {
    font-size: 18px;
    margin: 4px !important;
  }
  .contact > h3 {
    font-size: 15px;
    margin: 4px !important;
  }
  #footer-div {
    padding: 0;
    margin-top: -15px 0 0 0;
  }
  .footer > h5 {
    display: none;
  }
  .footer > h4 {
    font-size: 14px;
  }
  /* .footer-h4 {
    margin-top: -30px;
  } */
  .footer-h4 > h4 {
    margin-top: -20px;
  }
}
